/*************** billeder  *********************/
img {
  display: block;
  align-self: stretch;
  object-fit: cover;
  gap: 5%;
}

/*************** menu  *********************/
header {
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
  font-family: "Julius Sans One", sans-serif;
  margin: 20px;
  color: white;
}

nav{
  --less-than: 600;
  --burger-lines: #000000;
  --burger-borde: #000000;
}
header a {
  width: 10%;
}

nav ul {
  display: flex;
  list-style: none;
  padding-bottom: 30px;
  padding-top: 30px;
}

nav ul li {
  width: 175px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  text-decoration: none;
  padding: 15px;

  border-radius: 30px;
  font-size: 1.1rem;
  color: white;
  background-color: #cccccc;
}
/*************** TEKST  *********************/
h1 {
  font-family: "Shippori Mincho B1", serif;
   margin: 5%;
}
p{
  font-family: 'Inconsolata', monospace;
}
a{
  font-family: 'Inconsolata', monospace;

}
h2{
  font-family: "Shippori Mincho B1", serif;
  font-size: 30px;
}
