body {
  background-color: #efefef;
}
@media (min-width: 800px){
  .forside2 {
    height: auto;
    display: block;
    margin-left: 16%;
    margin-right: auto;
    width: 70%;

  }
}



@media (max-width: 600px) {
  .forside2{
    width: 100%;
   
  }
}
