body {
  background-color: #efefef;
}
.forside2 {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media (max-width: 600px) {
  .forside2{
    width: 100%;
   
  }
}
