.ommig {
  height: auto;
  display: block;
  width: 60%;
  margin: 10%;
  height: 400px;
}
body {
  background-color: #efefef;
}

h1 {
  text-align: center;
}
p {
  width: 60ch;
  font-size: 15px;
  line-height: normal;
  font-family: "Shippori Mincho B1", serif;
  margin-right: auto;
}

@media (min-width: 800px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .order {
    height: 400px;
    width: 60%;
    margin: 5%;
  }
  .tekstommig {
    height: 300px;
  }
  .jord {
    margin: 5%;
  }
  .ommig2 {
    margin: 5%;
  }
  p {
    width: 55ch;
    font-size: 13px;
    line-height: normal;
    margin: 5%;
  }
  h2 {
    margin: 5%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    text-align: left;
  }
  header nav li {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  p {
    width: 55ch;
    font-size: 13px;
    line-height: normal;
  }
  li {
    font-size: 12px;
  }
}
