.ommig {
  height: auto;
  display: block;
  width: 60%;
  margin: 5%;
  height: 400px;
  border: 3px solid #8aa48aa1;
}
body {
  background-color: #efefef;
}

h1 {
  text-align: center;
}
p {
  width: 60ch;
  font-size: 15px;
  line-height: normal;
  font-family: 'Inconsolata', monospace;
  margin-right: auto;
  line-height: 28px;
}

@media (min-width: 800px) {
  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
 
  .order {
    height: 390px;
    width: 100%;
    margin: 5%;
    border: 3px solid #8aa48aa1;
  }
  .tekstommig {
    height: 300px;
    margin: 5%;
    border: 3px solid #8aa48aa1;
  }
  .jord {
    margin: 5%;
    position: absolute;
    
    top: 1100px;
  }
  .ommig2 {
    margin: 5%;
    
  }
  p {
    width: 55ch;
    font-size: 13px;
    line-height: normal;
    margin: 5%;
    line-height: 28px;
  }
  h2 {
    margin: 5%;
  }
  .MMD{
   position: absolute;
   left: 740px;
   top: 362px;
   
  }

  .video{
    margin: 5%;
    width: 100%;
  }
  .MMD2{
    margin: 2%;
    width: 400px;
    border: 3px solid #8aa48aa1;
  }
  .udd{
    position: absolute;
   left: 740px;
   top: 1173px;
   
  }
  .om{
    margin: 5%;
    
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    text-align: center;
    margin: 5%;
  }
  header nav li {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  p {
    width: 55ch;
    font-size: 11px;
    line-height: normal;
    line-height: 25px;
    margin: 5%;
  }
  li {
    font-size: 12px;
  }
  .ommig {
   
    display: block;
    width: 85%;
    margin: 5%;
    height: 300px;
    border: 3px solid #8aa48aa1;
  }
  .order {
    height: 300px;
    width: 85%;
    margin: 5%;
    border: 3px solid #8aa48aa1;
  }
  .tekstommig {
    height: 300px;
    width: 85%;
    margin: 5%;
    border: 3px solid #8aa48aa1;
  }
  .video{
    height: 300px;
    width: 85%;
    margin: 5%;
  }
  .MMD2{
    width: 85%;
    margin: 5%;
    border: 3px solid #8aa48aa1;
  }
}
