body {
    background-color: #efefef
;
  }
/*************** computer  *********************/
  @media (min-width: 800px) {

    .grid_1-1-1-1-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
    .web1{
      
        font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  text-decoration: none;
  text-align: center; 
  border: 3px solid #000000;
  border-radius: 10px;
  margin: 39rem;
    }
    .web1:hover {
        color: white;
        background-color: #cccccc;
      }
    h2{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    .web{
        width: 250px;
        margin: 3%;
    }
    

    .grid_1-1-1-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .emnesite{
        width: 295px;
        margin: 10%;
    }
    .grid_2-2-2-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .twisted{
        width: 295px;
        margin: 10%;
    }
    .grid_2-2-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pitch{
        width: 340px;
        margin: 10%;
    }
    .UX{
        
        font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  border: 3px solid #000000;
  border-radius: 10px;
  margin: 39rem; 
    }
    .UX:hover {
        color: white;
        background-color: #cccccc;
      }
      .grid_2-2-2-2-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }
    .spil{
        width: 250px;
        margin: 10%;
    }
    .spil2{
       
        font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  text-decoration: none;
  text-align: center; 
  border: 3px solid #000000;
  border-radius: 10px;
  margin: 35rem;
    }
    .spil2:hover {
        color: white;
        background-color: #cccccc;
      }
      .grid_3-3-3{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
      }
      .passion{
        width: 340px;
        margin: 10%;
    }
    .grid_3-3-3-3{
        display: grid;  
        grid-template-columns: 3fr 3fr 3fr 3fr;
    }
    .redesign{
        width: 300px;
        margin: 10%;
    }
    .redesign2{
        
        font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  text-decoration: none;
  text-align: center; 
  border: 3px solid #000000;
  border-radius: 10px;
  margin: 28rem;
    }
    .redesign2:hover {
        color: white;
        background-color: #cccccc;
      
      }


      
  }

/*************** Telefon  *********************/
  @media (max-width: 600px) {
   
    
    .web1{
       
        font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center; 
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 9rem;
    }
    .web1:hover {
        color: white;
        background-color: #d7cbcb;
      }
    h2{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    .web{
        width: 166px;
        margin: 3%;
    }
    

  
    .emnesite{
        width: 166px;
        margin: 3%;
    }
   
    .twisted{
        width: 166px;
        margin: 3%;
    }
    
    .pitch{
        width: 166px;
        margin: 3%;
    }
    .UX{
       
        font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 9rem; 
    }
    .UX:hover {
        color: white;
        background-color: #d7cbcb;
      }
      
      .spil{
        width: 166px;
        margin: 3%;
    }
    .spil2{
        
        font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center; 
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 7rem;
    }
    .spil2:hover {
        color: white;
        background-color: #d7cbcb;
      }
      
      .passion{
        width: 166px;
        margin: 3%;
    }
  
    .redesign{
        width: 164px;
        margin: 3%;
    }
    .redesign2{
        
        font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center; 
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 2rem;
    }
    .redesign2:hover {
        color: white;
        background-color: #d7cbcb;
      
      }

      .grid_1-1-1-1-1{
display: grid;
grid-template-columns: 1fr 1fr;
      }
      .grid_1-1-1-1{
display: grid;
grid-template-columns: 1fr 1fr;
      }
      .grid_2-2-2-2{
display: grid;
grid-template-columns: 1fr 1fr;
      }
      .grid_2-2-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .grid_2-2-2-2-2{
display: grid;
grid-template-columns: 1fr 1fr;
      }
      .grid_3-3-3{
display: grid;
grid-template-columns: 1fr 1fr;
      }
      .grid_3-3-3-3{
        display: grid;
grid-template-columns: 1fr 1fr;
      }
    }
    
  
