body {
    background-color: #efefef
;
  }

  @media (min-width: 800px) {
    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .knap{
text-decoration: none;
display: inline-block;
border: 1px solid #000000;
  margin: 5%;
  padding: 1.2%;
    }
    .knap1:hover{
        color: white;
        background-color: #8aa48aa1;
    }
    .studie{
        width: 95%;
        border: 3px solid #8aa48aa1;
    }
    .studie2{
        width: 90%;
        margin: 5%;
        
    }
    .emne{
        width: 90%;
        margin: 5%;
        border: 3px solid #8aa48aa1;
    }
    .emne2{
        width: 68%;
        margin: 5%;
        
    }
    h1{
        text-align: center;
    }
    .emne4{
        margin: 5%;
       
    }
    h2{
        text-align: left;
        margin: 5%;
    }
    .emnesite{
        margin: 5%;
    }
    p{
        line-height: 28px;
        font-size: 83%;
    }
    .order{
        order: 2;
    }
   
    
  }

  @media (max-width: 600px) {
    
    .knap{
        text-decoration: none;
        display: inline-block;
        border: 1px solid #000000;
          margin: 5%;
          padding: 1.2%;
            }
            .knap1:hover{
                color: white;
                background-color: #8aa48aa1;
            }
            p{
                font-size: 12px;
                width: 86%;
                line-height: 20px;
                margin: 5%;
            }
            .studie{
                width: 90%;
                border: 3px solid #8aa48aa1;
                margin: 5% ;
            }
            h1{
                text-align: center;
                font-size: 31px;
            }
            h2{
                text-align: center;
            }
            .twist3{
                width: 70%;
                border: 3px solid #8aa48aa1;
            }
            .emne{
                border: 3px solid #8aa48aa1;
                width: 90%;
                margin: 5%;
            }
          
  }